<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Kirish</h2>
    <form action="/login" method="POST" class="signup-box">
        <input type="text" name="username" placeholder="username" required><br><br>
        <input type="password" name="password" placeholder="Parol" required><br><br>
        <button type="submit">Login</button>
        {% if message %}
        <p>{{message}}</p>
        <a href="/signup">Yangi user yasaysizmi?</a>
    {% endif %}
    </form>
</body>
</html>
